* {
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    color: white;
}

/* header */

.wallpaper {
    background-size: cover;
    width: 100%;
    background-image: linear-gradient(0deg, #121212 2%, transparent 30%), url(../images/stranger-things-body.jpg);
}

.logo {
    position: absolute;
    width: 6%;
    padding-top: 0.5%;
    left: 2%;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header>ul {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: flex-end;
    padding: 1.3% !important;
    text-decoration: none;
    list-style-type: none;
}

.header>ul>li {
    margin-left: 1% !important;
    color: white;
    font-weight: 800;
    font-size: 20px;
    padding-right: 2%;
}

.header>ul>li>a {
    text-decoration: none;
    color: white;
}

.header>ul>li a:hover {
    color: rgb(99, 13, 13);
    border-bottom: 2px solid rgb(99, 13, 13);
    padding-bottom: 5%;
    line-height: 1;
}

.header>ul>li>a {
    transition: 0.45s ease-in-out;
}

/* header media  */

@media screen and (max-width: 1000px) {
    .wallpaper {
        background-size: cover;
        background: no-repeat;
        width: 100%;
        background-image: linear-gradient(0deg, #121212 2%, transparent 30%), url(../images/stranger-things-body.jpg);
    }
}

@media screen and (max-width: 700px) {
    .wallpaper {
        background-size: cover;
        background: no-repeat;
        width: 100%;
        background-image: linear-gradient(0deg, #121212 2%, transparent 30%), url(../images/stranger-things-body.jpg);
    }
}

/* title */

.title {
    padding-top: 10%;
    width: 35%;
    padding-left: 2%;
    padding-bottom: 19%;
}

.title>h1 {
    font-size: 60px;
    font-weight: 800;
    padding-bottom: 5%;
}

.title>h5 {
    padding-bottom: 2%;
}


.btn-watch {
    display: flex !important;
    font-weight: 800 !important;
    align-items: center;
    column-gap: 0.5rem;
    justify-content: center;
    width: 8rem;
    background-color: #fff !important;
}

.btn-watch>i,
.btn-watch>span {
    color: #000;
}

.btn-watch:hover {
    background-color: rgb(168, 160, 160) !important;
}

/* title media */

@media screen and (max-width: 1000px) {
    .title {
        display: flex;
        flex-direction: column;
        padding-top: 10%;
        width: 45%;
        padding-left: 2%;
        padding-bottom: 19%;
    }
}

@media screen and (max-width: 700px) {
    .title {
        display: flex;
        flex-direction: column;
        padding-top: 10%;
        width: 50%;
        padding-left: 2%;
        padding-bottom: 19%;
    }
}

@media screen and (max-width: 400px) {
    .title>h5 {
        text-decoration: none;
    }
}

/* carousel  */

.carousel-menu {
    width: 60%;
    box-shadow: #000 0.8rem 0.5rem 0.5rem;
}

.h1-carousel {
    font-weight: 800;
    font-size: 50px;
    text-shadow: #000 0.4rem 0.4rem 0.3rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.wallpaper-2 {
    background-image: url(/images/stranger-things-wpp-2.png);
    background-size: cover;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}


.img-carousel {
    width: 100%;
    height: 33.016rem;
    opacity: 60%;
}

.hawkins-text {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 12%;
}

.hawkins-text>h1 {
    font-size: 40px;
    font-weight: 800;
}

.text {
    text-align: left;
}

.mundo-invertido-text {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 25%;
}

.mundo-invertido-text>h1 {
    font-size: 40px;
    font-weight: 800;
}

iframe {
    width: 100%;
    height: 33.016rem;
}

/* carousel media  */
@media screen and (max-width: 1240px) {
    .wallpaper-2 {
        background-image: none;
        background-color: #121212;
    }

    .hawkins-text {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;

    }

    .mundo-invertido-text {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 18px;
        padding-bottom: 35%;
    }
}

@media screen and (max-width: 650px) {
    .img-carousel {
        width: 100%;
        height: 20rem;
        opacity: 60%;
    }

    iframe {
        width: 100%;
        height: 20rem;
    }

}

/* saiba mais */

.wallpaper-3 {
    background-image: url(/images/stranger-things-wpp-3.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 5rem;
    padding-top: 3rem;

}

.wallpaper-3>h1 {
    color: white;
    /* text-shadow: rgb(99, 13, 13) 0.4rem 0.2rem 0.3rem; */
    text-shadow: #000 0.4rem 0.4rem 0.3rem;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    padding-top: 4rem;
}

.card-menu {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    text-align: center;
}

.card {
    background-color: transparent !important;
}

.card>h1 {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 0.7rem;
    font-style: italic;

}

.card>a>img {
    width: 22rem;
    height: 22rem;
    border-radius: 2rem;
    /* box-shadow: #000 0.8rem 0.5rem 0.5rem; */
    box-shadow: #000 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.5s;
    cursor: pointer;
}

.card>a>img:hover {
    transform: scale(1.025);
    filter: grayscale(60%);
}

.card>h6 {
    font-style: italic;
    padding-top: 1rem;
}

/* footer */

footer {
    background-color: #121212;
    text-align: center;
    padding-bottom: 0.3rem;
}

/* saiba mais media */

@media screen and (max-width: 360px) {
    .card>h1 {
        font-size: 15px;
    }

    .card>a>img {
        width: 20rem;
        height: 20rem;
    }
}

@media screen and (max-width: 800px) {
    .wallpaper-3 {
        background-color: #121212;
        background-size: cover;
        padding-bottom: 3rem;
        padding-top: 3rem;

    }

    .wallpaper-3>h1 {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .card-menu {
        display: flex !important;
        flex-direction: column !important;
        text-align: center;
    }

    .card>h6 {
        font-style: italic;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 1240px) {
    .wallpaper-3 {
        background-image: none;
        background-color: #121212;
        background-size: auto;
        padding-bottom: 10rem;
        padding-top: 3rem;

    }
}